html{
	background-color: #F7EFE2;
}

.btn,
html {
  background-color: #393939;

}

html {
  background-color: #191919;
}

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #f9ff80;
	background-image: linear-gradient(to bottom,#faffa6,#f9ff80);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #e5d84d;
	font-weight: bold;
	border: 0;
}


.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #FFF056;
	background-image: linear-gradient(to bottom,#fff699,#FFF056); 
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #ffffff;
	font-weight: bold;
	border: 0;
}
