#footer_container { 
	background:#1faf33;
	opacity: 4.0; 
	border:1px solid #1faf33; 
	bottom:0; 
	height:60px; 
	left:0; 
	position:fixed; 
	width:100%; 
}

#footer { 
	line-height:60px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}
