html {
  background-color: #191919;

  color: #F9FF80;
  font: normal 100%/1.5 Georgia,serif;
}

#footer_container { 
	background:#000000;
	opacity: 4.0; 
	border:1px solid #000000; 
	bottom:0; 
	height:60px; 
	left:0; 
	position:fixed; 
	width:100%; 
}

#footer { 
	line-height:60px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}
