
body { margin:0; padding:0; }
 
#header_container { 
	background:#1faf33; 
	border:1px solid #1faf33; 
	height:60px; left:0; 
	position:fixed; 
	width:100%; 
	top:0; 
}
#header{ 
	line-height:60px; 
	margin:0 auto; 
	width:940px; 
	text-align:center; 
}


