# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Elisa Koon
- Emma McInall 
- Audrie 
- Zhongze Jiang 
- Julia Paddick 

## Tasks

1. Find a product and purchase it 
2. Use the search field 
3. Follow us on facebook

---

## Individual Results & Observations

### Elisa Koon

- She completed the task as expected.

### Emma McInall

- She completed the task as expected

### Audrie

- Shey completed the task as expected.

### Zhongze Jiang

- He completed the task as expected.

### Zhongze Jiang

- He completed the task as expected.

### Julia Paddick

- She completed the task as expected.
---

## Trends

- All participants were able to complete the tasks as expected with out any problems. 
