---
layout: default
title: Home
meta: "Covering everything About skin: links, videos, photos, info." 
showbanner: yes 
bannertext: Be comfortable in your own skin.
---

<h1>Ecommerce-website</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a adipiscing nibh. Nullam vel ipsum orci. Nam sit amet augue vitae tellus facilisis pretium.</p>

<div class="grid">

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	 {% include promo-small.html title="$50 OFF $200" desc="Super-duper sale!" image="promo1.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	 {% include promo-small.html title="$20 OFF $100" desc="Another amazing deal!" image="promo2.jpg" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
	 {% include promo-small.html title="FREE DELIVERY after $100" desc="Fantastico!" image="promo3.jpg" %} 
	</div>

</div>


