# User Testing Report

User testing was conducted by Laura Garcia on March 24 2014, between the times of 9:00am and 11:00pm with the following participants:

- Zhangze Jiang
- Lorena Franco
- Felipe Clavijo

## Tasks

1. Use search field
2. find a product
3. checkout product

---

## Individual Results & Observations

### Lorena Franco

- She clicked on all links as expected
- She asked these questions about the checkout process
- It would be a good idea to add a link to the photos on the first page. 


### Zhangze Jiang

- He clicked on the link as expected
- He said that the navigation font doesnt match the rest of the design.

### Felipe Clavijo

- He clicked on the link as expected
- He said it will be a good idea to add a link to the logo, also to separate some of the letters for the "all products" page. 

---

